/* font-family: 'Kosugi', sans-serif; */
body {
  font: 12px sans-serif;
  /* font-family: 'Playfair Display SC', serif; */
  font-family: 'Share Tech', sans-serif;
  /* background-color: #F1F2EB; */

}
h1 {
    color: #987284;
    font-size: 24px;
    /* #987284 */
    font-weight: bold;
    font-family: 'Montserrat Subrayada', sans-serif;
    /* background-color: #75B9BE */
}
.tick > line {
	fill: none;
	stroke: black;
}
.tick > text {
	fill: black;
}
.selected {
	stroke: red;
	fill:red;
}
.selected2 {
	stroke: orange;
	fill:orange;
}
path.domain {
	fill: none;
	stroke-width: 2px;
	stroke: black;
}
#wrapper {
	clear:both;
}
#mainScatter {
    float:left;
}

.clicked {
	fill:#EE7674;
	stroke:#EE7674;
}

.tooltip {
    position: absolute;
    text-align: center;
    /* width: 100px; */
    height: 120px;
    padding: 2px;
    font: 12px sans-serif;
    font-family: 'Cormorant Garamond', serif;
    background:rgba(249,181,172,0.8);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
.genre {
    position:relative;
    width: 300px;
    height:300px;
    display:inline-block;
}
.yearCal {
    position:relative;
    display:inline-block;
}
/* BUTTONS */
.btn {
    font-size: 12px;
    background-color: #acb0cd;
    border-radius: 6px;
    margin-left: 10px;
}
/* DETAILS */
#detailsOnDemand {

    display:inline-block;
    margin-right:10px;
    font-size: 15px;

}

.filter{
    float:right;
    margin-right:10px;
    margin-bottom:10px;
}
.swatch{
    /* display:inline; */
    width:20px;
    height:20px;
}
.swatch-container{
    display:flex;
    margin-left:10px;
    margin-top: 20px;
    /* width:80px;
    height:20px; */
}
/* option {
      font-family: 'Playfair Display SC', serif;
} */
#colorFilter{
    margin-left:10px;
}
#wordCloud{
    /* float:right; */
    width:400px;
    height:400px;
}
#calendar{
    display:inline-block;
}
