body {
  font: 12px sans-serif;
}
.tick > line {
	fill: none;
	stroke: black;
}
.tick > text {
	fill: black;
}
.selected {
	stroke: red;
	fill:red;
}
.selected2 {
	stroke: orange;
	fill:orange;
}
path.domain {
	fill: none;
	stroke-width: 2px;
	stroke: black;
}
#wrapper {
	clear:both;
}
#mainScatter {
    float:left;
}

.clicked {
	fill:red;
	stroke:red;
}
/* #chart2{
	float:left;
}
#chart3 {
	float:left;
	margin-top: 30px;
	margin-left: 20px;
} */
/* .brush .extent {
	fill-opacity: .1;
	stroke: #fff;
	shape-rendering: crispEdges;
} */
.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 60px;
    padding: 2px;
    font: 12px sans-serif;
/* background: lightsteelblue; */
    background:rgba(200,0,0,0.6);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
.genre {
    position:relative;
    /* margin: 20px; */
    width: 300px;
    height:300px;
    display:inline-block;
}
.yearCal {
    position:relative;
    display:inline-block;
}
